:root {
  --main-bg-color: #001212;
}

* { box-sizing: border-box; }

html, body { 
  height: 100vh; 
  margin: 0;
  overflow-y: hidden;
  background-color: var(--main-bg-color);
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.gallery {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.gallery .slide {
  scroll-snap-align: center;
  scroll-snap-stop: always;

  width: 100vw;
  height: 100vh;
  flex: 0 0 100vw;

  display: flex;
  justify-content: center;
  padding: 4%;
}

#s2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
}

#s2 img:first-child {
  grid-row: 2 / 10;
  justify-self: end;
}

#s2 img:last-child {
  grid-row: 1 / 13;
  justify-self: start;
}

